.triptech-body {
    width: 100%;
    height: 100%;
    min-width: 1000px;
    min-height: 1000px;
    background-color: #aaaaaa;
    overflow-x: hidden;
    overflow-y: hidden;
}

.triptech-content {
    width: calc(100% - 20px);
    height: calc(100% - 120px);
    background-color: #aaaaaa;
    margin-top: 110px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    top: auto;
    left: auto;
    overflow: auto;
    transition: margin-left .5s, width .5s;
}
.triptech-container {
    width: 100%;
    position: fixed;
    background-color: #444444;
    height: 100px;
    top: 0;
    padding: 15px 10px;
    overflow: auto;
}

.triptech-list{
    background-color: #cccccc;
    width: 100%;
    padding-left: 10px;
}

.list-group{
    display:inline-block;
}


/* The side navigation menu */
.sidenav {
    height: calc(100% - 100px); /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    bottom: 0; /* Stay at the bottom */
    left: 0;
    background-color: #5018af; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}


/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}


/* Style the sidenav links and the dropdown button */
.sidenav .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #aaaaaa;
}

/* Main content */
.main {
    margin-left: 165px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    background-color: #aaaaaa;
}

/* Add an active class to the active dropdown button */
.active {
    background-color:#6b3eb7;
    color: #f1f1f1;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}