<!DOCTYPE html>
<html lang="en">
{% load static %}
{% include "triptech_web/generic_head.html" %}
</head>
<body class="triptech-body">
    {% include "triptech_web/menu.html" %}
    <div id="triptech-content" class="triptech-content">
        <h1>Assignment details:</h1>
        <p>{{ student_name }}</p>
        <p>{{ date }}</p>
        <p>{{ data_location }}</p>
        <div>
            <a href="{% url "triptech_web:submissions_edit" pk pk_sub %}" class="btn btn-info" role="button">Edit</a>
            <a href="{% url "triptech_web:submissions" pk %}" class="btn btn-info" role="button">Back</a>
        </div>
    </div>
</body>
</html>